*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
#burgermenu{
    display: none;
}
.card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}
.mainImg{
    width: 100px;
    height: 170px;
    object-fit: contain;
}
.cardMain>h2{
    font-size: 17px;
    text-align: center;
    padding-bottom: 15px;
}
/* header */
header{
    background-color: #1E1E1E;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
[class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.menu_list{
    list-style: none;
}
.menu_link:hover{
    color: #fff;
}
.menu_link{
    color: #E50000;
    text-decoration: none;
    font-size: 20px;


}
#search{
    width: 283px;
    height: 44px;
    background-color: #666464;
    border: none;
    outline: none;
    border-radius: 10px;
}
input::placeholder{
    color: #fff;
    padding-left: 20px;
}
.search_input>img{
    display: none;
}
.fa-cart-arrow-down{
    font-size: 30px;
    color: #E50000;
    padding-top: 19px;
}
.signIn{
    border: 1px solid white;
    background-color: #E50000;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    color: black;
    width: 90px;
    height: 45px;
    cursor: pointer;
}
.logo{
    width: 200px;
    height: 60px;
    object-fit: contain;
}

/* slider part */
.slider__container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
    background-color: #1E1E1E;
    padding-top: 45px;
}

.slide {
    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.fa-heart {
    position: absolute;
    color: wheat;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.slide-info {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    margin-bottom: 68px;
}
/* categories part */
.categories__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #E50000;
    width: 150px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.btn:hover{
    color: black;
}
.categories{
    background-color: #1E1E1E;
}
.categoriespart>h2{
    color: #E50000;
    font-size: 40px;
    font-weight: 700;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    color: #FFD700; /* Gold color */
}
.categories__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.categoriespart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding: 30px 30px 10px 30px;
}
.popularPage{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #E50000;
    width: 150px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.popularPage:hover{
    color: black;
}
.allCategories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
}


/* movie cards page */
.movieCards{
    background-color: #1E1E1E;
}
.card{
    background-color: #000;
}
.cardMain>h2{
    color: #E50000;
    font-size: 20px;
    padding-top: 16px;
    font-weight: 400;
}
.mainImg{
    margin-top: 20px;
}
.cardMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden; 
    position: relative;
}

.mainImg {
    width: 100px;
    height: 170px;
    object-fit: contain;
    transition: all 0.3s ease-in-out;

}
.mobileMenu{
    display: none;
    gap: 20px;
}
.closeMenuBtn>h1{
    font-size: 31px;
    color: red;
}
.mobileMenu>li{
    padding-top: 10px;
}
.mainImg:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardMain > h2 {
    font-size: 17px;
    text-align: center;
    /* padding-bottom: 15px; */
    transition: opacity 0.3s ease-in-out;
}
.stars{
    padding-bottom: 20px;
}
.mobileMenu>li{
    list-style: none;
}
.mobileMenuLink{
    /* transform: none; */
    text-decoration: none;
    color: #E50000;
    font-size: 18px;
}
.movieCards__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
#pageBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.pageBtn{
    width: 35px;
    height: 35px;
    background-color: #E50000;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    font-weight: 400;
}

.fa-solid{
    padding-bottom: 16px;
}


/* ====== actors part*/
.actorsPart{
    background-color: #1E1E1E;
}
.actors__container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.actors__container>h2{
    color: #E50000;
    font-size: 40px;
    font-weight: 700;
}
.actors-slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.actors-slider {
    display: flex;
    gap: 10px;
    transition: transform 0.2s ease-in-out;
    width: max-content;
}
.saveicon{
    background-color: #fff;
}

.actor-slide {
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.actor-slide img {
    width: 200px;
    height: 300px;
    /* border-radius: 50%; */
    object-fit: cover;
}
.actor-slide>p{
    color: #E50000;
    font-size: 20px;
    font-weight: 500;
}

.closebtn{
    font-size: 26px;
    font-weight: 700;
    color: #E50000;
}
.search_input{
    align-items: center;
    gap: 20px;
}
.search_input>h1{
    cursor: pointer;
}
.search_input>h1{
    display: none;
}
.searchImg{
    display: none;
}
.fa-bookmark{
    color: #fff;
    padding-right: 140px;
}
.fa-bars{
    font-size: 30px;
    color: #E50000;
    padding-top: 20px;
}
/* footer */

.footer__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
}
footer{
    background-color: #000;
    width: 100%;
}
.footer_mainInfo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 10px;
}
.footer_info>h3{
    font-size: 18px;
    color: #fff;
}
.footer_info>p{
    color: #E50000;
}
.footer_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.footer_mages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.footer_mages>img{
    width: 56px;
    height: 56px;
    object-fit: contain;
}
.footer__container>img{
    width: 200px;
    height: 60px;object-fit: contain;
}
.footer_lastText{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_lastText>p{
    color: #E50000;
}
.lasttext_littles{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
.lasttext_littles>p{
    color: #E50000;
}
.active{
    background-color: white;
    color: #E50000;
}
.slide{
    padding-top: 30px;
}

/* movies part */





/* media part */

@media (max-width:1104px){
    .logo{
        width: 173px;
    }
    .menu_link{
        font-size: 17px;
    }
    .menu{
        gap: 14px;
    }
    #search{
        width: 226px;
    }
    .signIn {
        width: 75px;
        height: 42px;
    }
}
@media (max-width:766px){
    #burgermenu{
        display: block;
    }
    .menu{
        display: none;
    }
}
@media (max-width:680px) {
    #search{
        width: 200px;
        height: 36px;
    }
    .logo{
        width: 140px;
    }
    .categories__container{
        flex-wrap: nowrap;
    }
    .categoriespart{
        flex-direction: column;
        gap: 27px;
    }
    .categoriespart>h2{
        font-size: 32px;
    }
    .slide-info{
        width: 200px;
    }
    .footer_info>h3,p{
        font-size: 13px;
      }
      .footer_mages>img {
        width: 38px;
        height: 56px;
        object-fit: contain;
    }
}
@media (max-width:600px){
    .signIn {
        display: none;
    }
}

@media (max-width:615px){
    .footer_mainInfo{
        flex-wrap: wrap;
    }
    .footer_info{
        padding: 10px;
      }
}

@media (max-width:456px){

    .searchImg{
        display: block;
    }
    .search_input{
        display: none;
    }
    .search_input>h1{
        display: block;
    }
    .logo{
        width: 120px;
    }
}





