*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}
.card>img{
    width: 100px;
    height: 170px;
    object-fit: contain;
}
.card>h2{
    font-size: 17px;
    text-align: center;
    padding-bottom: 40px;
}
/* header */
header{
    background-color: #1E1E1E;
    width: 100%;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
[class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;
}
#search{
    width: 283px;
    height: 44px;
    background-color: #666464;
    border: none;
    outline: none;
    border-radius: 10px;
}
input::placeholder{
    color: #fff;
    padding-left: 20px;
}
.search_input>img{
    display: none;
}
.logo{
    width: 200px;
    height: 60px;
    object-fit: contain;
}

/* slider part */
.slider__container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
    background-color: #1E1E1E;
}

.slide {
    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.slide-info {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
}
/* categories part */
.categories__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #E50000;
    width: 150px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.btn:hover{
    color: black;
}
.categories{
    background-color: #1E1E1E;
}
.categoriespart>h2{
    color: #E50000;
    font-size: 40px;
    font-weight: 700;
}
.categories__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.categoriespart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding: 30px 30px 10px 30px;
}
.popularPage{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #E50000;
    width: 150px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.popularPage:hover{
    color: black;
}
.allCategories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
}


/* movie cards page */
.movieCards{
    background-color: #1E1E1E;
}
.card{
    background-color: #000;
}
.card>h2{
    color: #E50000;
    font-size: 20px;
    font-weight: 400;
}
.card>img{
    margin-top: 20px;
}


.card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden; 
    position: relative;
}

.card > img {
    width: 100px;
    height: 170px;
    object-fit: contain;
    transition: all 0.3s ease-in-out;

}

.card:hover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card > h2 {
    font-size: 17px;
    text-align: center;
    padding-bottom: 40px;
    transition: opacity 0.3s ease-in-out;
}

.card:hover > h2 {
    opacity: 0;
}
.movieCards__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
#pageBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pageBtn{
    width: 35px;
    height: 35px;
    background-color: #E50000;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    font-weight: 400;
}




/* ====== actors part*/
.actorsPart{
    background-color: #1E1E1E;
}
.actors__container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.actors__container>h2{
    color: #E50000;
    font-size: 40px;
    font-weight: 700;
}
.actors-slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.actors-slider {
    display: flex;
    gap: 10px;
    transition: transform 0.2s ease-in-out;
    width: max-content;
}

.actor-slide {
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.actor-slide img {
    width: 200px;
    height: 300px;
    /* border-radius: 50%; */
    object-fit: cover;
}
.actor-slide>p{
    color: #E50000;
    font-size: 20px;
    font-weight: 500;
}

.closebtn{
    font-size: 26px;
    font-weight: 700;
    color: #E50000;
}
.search_input{
    align-items: center;
    gap: 20px;
}
.search_input>h1{
    cursor: pointer;
}
.search_input>h1{
    display: none;
}
.searchImg{
    display: none;
}
/* movies part */





/* media part */
@media (max-width:680px) {
    #search{
        width: 200px;
        height: 36px;
    }
    .logo{
        width: 140px;
    }
}

@media (max-width:456px){

    .searchImg{
        display: block;
    }
    .search_input{
        display: none;
    }
    .search_input>h1{
        display: block;
    }
}
















